---
import "../styles/aboutHero.css";
const title = "Sobre nosotros";
const description =
  "Desde nuestras raíces en las montañas hasta tu taza, Kafie es pasión, calidad y compromiso con el café de especialidad.";
---

<section class="about-hero">
  <div class="about-hero__overlay">
    <h1>{title}</h1>
    <p>{description}</p>
  </div>
</section>
