---
import "../styles/commitmentSection.css";

const title = "Nuestro compromiso";
const description =
  "En Kafie, nos comprometemos a brindar una experiencia de café que respete el trabajo de los productores y supere las expectativas de nuestros clientes. Cada grano que tuestas y cada taza que pruebas, es reflejo de nuestra pasión y dedicación.";
---

<section class="commitment">
  <div class="commitment__image">
    <img src="about-commitment.png" alt="Caficultor en la finca" />
  </div>
  <div class="commitment__content">
    <h2>{title}</h2>
    <p>{description}</p>
  </div>
</section>
