---
import "../styles/footer.css"; // Archivo CSS dedicado al pie de página
---

<footer class="footer">
  <div class="footer__logo">
    <img
      src="kafie-logo-blanco.png"
      alt="Logo de Kafie"
      width="236"
      height="26"
    />
  </div>
  <nav class="footer__nav">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="nosotros">Nosotros</a></li>
      <li><a href="plan">Crea tu plan</a></li>
    </ul>
  </nav>
  <div class="footer__social">
    <a href="#"><img src="facebook.svg" alt="Facebook" /></a>
    <a href="#"><img src="twitter.svg" alt="X" /></a>
    <a href="#"><img src="instagram.svg" alt="Instagram" /></a>
  </div>
</footer>
