---
import "../styles/hero.css"; // Archivo CSS dedicado al Hero
---

<section class="hero">
  <div class="hero__content">
    <h1 class="hero__title">Un gran cafe hecho simple</h1>
    <p class="hero__text">
      Directamente de productores locales, tostado con prácticas sostenibles
      para disfrutar en cada sorbo.
    </p>
    <button class="hero__button"><a href="plan">Crea tu plan</a></button>
  </div>
</section>
