---
import "../styles/navbar.css"; // Archivo CSS dedicado a la barra de navegación
---

<nav class="navbar">
  <div class="navbar__logo">
    <img
      src="kafie-logo-negro.jpg"
      alt="Logo de Kafie"
      width="235"
      height="25"
    />
  </div>
  <ul class="navbar__links">
    <li><a href="/">Inicio</a></li>
    <li><a href="nosotros">Nosotros</a></li>
    <li><a href="plan">Crea tu plan</a></li>
  </ul>
</nav>
