---
import "../styles/qualitySection.css";

const title = "La calidad es nuestra prioridad";
const description =
  "Seleccionamos cuidadosamente cada grano de café, asegurando que nuestros clientes disfruten una experiencia única en cada taza. Nuestro equipo de expertos en tueste y catación garantiza el más alto estándar de sabor, aroma y frescura.";
---

<section class="quality">
  <div class="quality__foreground">
    <div class="quality__text">
      <h2>{title}</h2>
      <p>{description}</p>
    </div>
    <div class="quality__image">
      <img src="/quality-coffe.jpg" alt="Proceso de calidad en el café" />
    </div>
  </div>
</section>
